:root {
    --bg-color-dark: #D7A69D
    --bg-color-light: #e5cdc6
    --text-color: #262626
    --breakpoint-xs: 320px;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1440px;
    --breakpoint-xl: 1920px;
}

* {
    font-family: Forum, serif;
    line-height: 1.5;
    color: var(--text-color);
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* sections */
section {
    background-color: var(--bg-color-dark);
    padding: 70px 100px;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: visible;

    .light {
        background-color: var(--bg-color-light);
    }

    .top {
        margin-top: -100px;`
    }
}

/* simple tags */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    font-weight: 400;
    line-height: 1.2;
}

h1 { 
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

img {
    border-radius: 2px;
}

img.graphics {
    position: absolute;
    z-index: 2;
}

a {
    color: inherit;
    text-decoration: underline;
}

input {
    outline: none;
    width: calc(100% - 24px);
    height: 16px;
    background-color: var(--bg-color-dark);
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: var(--text-color);
    font-size: 16px;
}

input:focus {
    border: 1px solid var(--text-color);
    margin: -1px;
}

/* buttons */
button {
    background-color: var(--bg-color-dark);
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 150px;
    max-width: max-content;
    height: 60px;
    font-size: 18px;
    color: #e5e5e5;
    z-index: 3;
    position: relative;
}

button.inverted {
    color: #585858;
    background-color: #e5cdc6;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* media queries */
@media (max-width: var(--breakpoint-md)) {
    h1 {
        font-size: 2.5rem;
    }

    section {
        padding: 70px 50px;
    }
}

@media (max-width: 600px) {
    p {
        font-size: 14px;
    }

    section {
        padding: 70px 15px;
    }
}
