$bg-color-dark: #d7a69d;
$bg-color-light: #e5cdc6;
$text-color: #262626;
$disabled-color: #8f6969;
$error-color: rgb(141, 0, 0);
$breakpoint-xs: 320px;
$breakpoint-sm: 600px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1895px;
$box-shadow: 0.0625rem 0.0625rem 1.25rem rgba(0, 0, 0, 0.1);
