@use './config';

.button {
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 2rem 4rem 2rem 4rem;
  min-width: 10rem;
  max-width: max-content;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: box-shadow ease-in 0.1s;

  &--dark {
    background-color: config.$bg-color-dark;
  }

  &--light {
    background-color: config.$bg-color-light;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }
}
