@use './config';

.button {
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 2rem 4rem 2rem 4rem;
  min-width: 10rem;
  max-width: max-content;
  box-shadow: config.$box-shadow;
  text-decoration: none;
  transition: box-shadow ease-in 0.1s;

  &--dark {
    background-color: config.$bg-color-dark;
  }

  &--light {
    background-color: config.$bg-color-light;
  }

  &--disabled {
    background-color: #8f6969;
    color: #262626;
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0.3125rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
  }
}
