@use './config';

.header {
  position: relative;
  top: -7rem;
  height: 100vh;

  &__title {
    position: relative;
    width: 100%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
  }

  &__more {
    position: absolute;
    width: 1.5rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: config.$breakpoint-sm) {
      width: 2rem;
      bottom: 1.5rem;
    }

    @media (min-width: config.$breakpoint-md) {
      width: 2.5rem;
      bottom: 2rem;
    }

    & > img {
      width: 100%;
    }
  }
}
