@use './config';

.openingHours {
  display: flex;
  flex-direction: column;

  &__line {
    display: flex;
    gap: 2rem;
    text-align: right;
    width: 60%;

    @media (min-width: config.$breakpoint-sm) {
      width: 70%;
    }

    @media (min-width: config.$breakpoint-md) {
      width: 80%;
    }
  }
}
