@use './config';

// fonts
@font-face {
  font-family: 'Ogg-Bold';
  src: url('../fonts/Ogg-Bold.ttf') format('truetype'), url('../fonts/Ogg-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Ogg-Light';
  src: url('../fonts/Ogg-Light.ttf') format('truetype'),
    url('../fonts/Ogg-Light.woff') format('woff');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Ogg-LightItalic';
  src: url('../fonts/Ogg-LightItalic.ttf') format('truetype'),
    url('../fonts/Ogg-LightItalic.woff') format('woff');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: config.$text-color;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: config.$bg-color-dark;
}

/* simple tags */
img {
  border-radius: 0.125rem;
}

a {
  color: inherit;
  text-decoration: underline;
}
