html, body {
	background-color: #B68981;
	margin: 0;
	font-family: Didot, serif;
	font-size: 14px;
	line-height: 1.5;
	color: #585858;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 48px;
}

a {
	color: inherit;
}

button {
	background-color: #B68981;
	border: none;
	border-radius: 2px;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 150px;
	max-width: max-content;
	height: 60px;
	font-size: 18px;
	font-family: Didot, sarif;
	color: #E5E5E5;
	z-index: 2;
} 

button.inverted {
	color: #585858;
	background-color: #E5CDC6;
}

button:hover {
	text-decoration: underline;
	cursor: pointer;
} 


@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}